<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Booter</key>
	<dict>
		<key>Quirks</key>
		<dict>
			<key>DevirtualiseMmio</key>
			<false/>
			<key>EnableWriteUnprotector</key>
			<false/>
			<key>RebuildAppleMemoryMap</key>
			<true/>
			<key>ResizeAppleGpuBars</key>
			<integer>-1</integer>
			<key>SetupVirtualMap</key>
			<false/>
			<key>SyncRuntimePermissions</key>
			<true/>
		</dict>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x8,0x1)/Pci(0x0,0x4)</key>
			<dict>
				<key>layout-id</key>
				<data>FQAAAA==</data>
			</dict>
		</dict>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Emulate</key>
		<dict>
			<key>DummyPowerManagement</key>
			<true/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>PanicNoKextDump</key>
			<true/>
			<key>PowerTimeoutKernelPanic</key>
			<true/>
			<key>ProvideCurrentCpuInfo</key>
			<true/>
			<key>XhciPortLimit</key>
			<true/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Debug</key>
		<dict>
			<key>AppleDebug</key>
			<false/>
			<key>ApplePanic</key>
			<false/>
			<key>DisableWatchDog</key>
			<true/>
			<key>Target</key>
			<integer>0</integer>
			<key>DisplayLevel</key>
			<integer>2147483714</integer>
		</dict>
		<key>Security</key>
		<dict>
			<key>AllowNvramReset</key>
			<true/>
			<key>AllowSetDefault</key>
			<true/>
			<key>BlacklistAppleUpdate</key>
			<true/>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>SecureBootModel</key>
			<string>Default</string>
			<key>Vault</key>
			<string>Optional</string>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>-v keepsyms=1 debug=0x100 agdpmod=pikera</string>
				<key>prev-lang:kbd</key>
				<string>en-US:0</string>
			</dict>
		</dict>
		<key>WriteFlash</key>
		<true/>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AudioCodec</key>
			<integer>0</integer>
			<key>AudioDevice</key>
			<string>PciRoot(0x0)/Pci(0x1b,0x0)</string>
			<key>AudioOutMask</key>
			<integer>1</integer>
			<key>AudioSupport</key>
			<false/>
			<key>DisconnectHda</key>
			<false/>
			<key>MaximumGain</key>
			<integer>-15</integer>
			<key>MinimumAssistGain</key>
			<integer>-30</integer>
			<key>MinimumAudibleGain</key>
			<integer>-55</integer>
			<key>PlayChime</key>
			<string>Auto</string>
			<key>ResetTrafficClass</key>
			<false/>
			<key>SetupDelay</key>
			<integer>0</integer>
		</dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>Quirks</key>
		<dict>
			<key>UnblockFsConnect</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
